---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface SbBlokData {
  _uid: string
  [key: string]: any
}

interface GridProps {
  columns?: SbBlokData[]
}

const { blok }: { blok: SbBlokData } = Astro.props
---

<div {...storyblokEditable(blok)}>
  {
    blok.columns?.map((blok) => (
      <div key={blok._uid}>
        <StoryblokComponent blok={blok} />
      </div>
    ))
  }
</div>

