---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface Blok {
  _uid: string
  columns?: Blok[]
}

const { blok }: { blok: Blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  {
    blok.columns?.map((blok) => (
      <div key={blok._uid}>
        <StoryblokComponent blok={blok} />
      </div>
    ))
  }
</div>

