---
import type { StoryblokComponent } from 'storyblok-js-client';

interface GridProps {
  columns?: StoryblokComponent[];
}

const { blok }: { blok: GridProps } = Astro.props;
---
{blok.columns?.map((column) => (
  <div key={column._uid}>
    <storyblok-blok component={column} />
  </div>
))}

