k---
import type { StoryblokComponent } from 'storyblok-js-client';

interface PageProps {
  body?: StoryblokComponent[];
}

const { blok }: { blok: PageProps } = Astro.props;
---
{blok.body?.map((component) => (
  <div key={component._uid}>
    <storyblok-blok component={component} />
  </div>
))}

