---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface SbBlokData {
  _uid: string
  [key: string]: any
}

interface PageProps {
  body?: SbBlokData[]
}

const { blok }: { blok: SbBlokData } = Astro.props
---

<main {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => (
      <StoryblokComponent key={blok._uid} blok={blok} />
    ))
  }
</main>

