---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface Blok {
  _uid: string
  body?: Blok[]
}

const { blok }: { blok: Blok } = Astro.props
---

<main {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => (
      <StoryblokComponent key={blok._uid} blok={blok} />
    ))
  }
</main>

